.input {

  display: flex;
  flex-direction: column;
  width: 640px;
  margin-left: 2rem;

  
}
.input_label {
  margin-top: 10px;
  /* color: white; */
  height: 30px;
  border-radius: 15px;
  border: none;
 
}
